.background-image {
            background-image: url(../assets/images/bogor.jpg) !important;
            background-size: cover;
            opacity: 0.85;
            filter: alpha(opacity=20);/*for IE8 and earlier*/

        }
        .blog-header {
            line-height: 1;
            border-bottom: 1px solid #e5e5e5;
            background-color: #FFFFFF;
            height: 65px;
          }
          .socmed-header > a {
            margin-right: 10px;
            margin-left: 10px;
            }
            
.overflow-x{
  overflow-x: scroll !important;
}
    
            @media screen and (max-width: 766px){
                header { display: none; }
              }

            /*-----------NAVBAR STYLE*/
   
.overflow-x{
  overflow-x: scroll !important;
}
             
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*------------CLOSE*/


        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    
        * {
            box-sizing: border-box;
        }
    
        .input-container {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        
        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            border-radius: 20px 0px 0px 20px !important;
            min-width: 50px;
            text-align: center;
        }
    
        .input-field {
            border-radius: 0px 20px 20px 0px !important;
            border: none;
            border: solid dodgerblue;
            width: 100%;
            padding: 10px;
            outline: none;
        }
        
        .input-field1 {
            border-radius: 20px 20px 20px 20px !important;
            border: none;
            border: solid dodgerblue;
            width: 100%;
            padding: 10px;
            outline: none;
        }
    
        .input-field:focus {
            border: 2px solid dodgerblue;
        }
    
        /* Set a style for the submit button */
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 100px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
    
        .btn:hover {
            opacity: 1;
        }
    
        .button-login{
            background-color: dodgerblue !important;
        }
        .button-register{
            background-color: dodgerblue !important;
        }

        .foot{
            color: white!important;
            margin-top:100px!important;
            text-align: center!important;
        }

        